---
interface Props {
  site: string
  name: string
  tags?: string[]
}

const { site, name, tags = [] } = Astro.props

// 从 URL 中提取主域名
const url = new URL(site)
const iconUrl = `${url.protocol}//${url.hostname}/favicon.ico`
---

<div class="bookmark-item">
  <div class="flex items-center gap-2">
    <a
      class="text-size-lg flex items-center gap-2 text-black hover:text-gray-600 hover:underline"
      href={site}
      target="_blank"
      rel="noopener noreferrer"
      title={site}
      aria-label={`访问 ${name} (在新窗口打开)`}
      data-tags={JSON.stringify(tags)}
    >
      <img
        src={iconUrl}
        alt={`${name} 网站图标`}
        width="16"
        height="16"
        loading="lazy"
        onerror="this.onerror=null; this.src='/favicon/favicon.svg';"
      />
      <span>{name}</span>
    </a>
    {
      tags.length > 0 &&
        tags.map((tag) => (
          <button
            class="text-size-sm tag-button [@media(hover:hover)]:hover:bg-blue inline-flex cursor-pointer items-center rounded-full border border-black bg-white px-2 py-0.5 text-xs"
            data-tag={tag}
          >
            {tag}
          </button>
        ))
    }
  </div>
</div>
