---
import type { CollectionEntry } from 'astro:content';
import { Card } from '@eliancodes/brutal-ui';
import { Image } from 'astro:assets';
import { Pill, Button } from '@eliancodes/brutal-ui';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<Card color="white">
  <!-- 标题 -->
  <h3 class="poppins text-lg md:text-xl">{post.data.title}</h3>

  <!-- 封面 -->
  <div class="border-3 my-4 h-56 rounded-lg border-black">
    <Image class="h-full w-full rounded object-cover" src={post.data.imgUrl} alt={`${post.data.title}的封面`} width={800} height={400} />
  </div>

  <!-- 描述 -->
  <p class="poppins">{post.data.description}</p>

  <!-- 进入帖子 按钮 -->
  <div class="my-4 flex justify-end">
    <Button href={`/blog/${post.id}/`}>进入帖子 &rarr;</Button>
  </div>

  <!-- 标签 -->
  <div class="hidden sm:inline-block">
    <p class="poppins mt-2">标签：</p>
    <ul class="mt-2 flex flex-wrap items-center gap-4">
      {
        post.data.tags.map((tag) => {
          return (
            <li>
              <a class="sanchez" href={`/blog/tags/${tag.toLowerCase()}/`} title={`分类：${tag}`} aria-label={`访问分类：${tag}`}>
                <Pill>{tag}</Pill>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</Card>
