---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata | string;
  alt: string;
  caption?: string;
  width?: number;
  height?: number;
}

const { src, alt, caption, width, height } = Astro.props;
---

<div class="mb-5 flex flex-col items-center">
  {
    typeof src === 'string' ? (
      <img src={src} alt={alt} width={width} height={height} />
    ) : (
      <Image src={src} alt={alt} />
    )
  }
  <span class="text-center text-gray-500 mt-2" set:html={caption}></span>
</div>
